nav {
  background: var(--prime-color-black) !important;
  padding-top: 15px !important;
  padding-bottom: 20px !important;
}
.nav-link {
  color: var(--ns-white-color) !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500 !important;
font-size: 12px !important;
line-height: 18px !important;

}
.nav-link:focus,
.nav-link:hover {
  color: var(--secondary-color-dark-blue) !important;
}
.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--secondary-color-dark-blue) !important;
}
.btn-connect {
  background: #1e50ff;
  border-radius: 41px;
  padding: 10px 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}
